<!doctype HTML>
{% load render_bundle from webpack_loader %}
{% load static %}

<html>
<head>
	<title>TigerTalk</title>
	<link rel="icon" href="https://www.cs.princeton.edu/favicon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
</head>
<body>
	<script>
		var netid = "{{ user.get_username }}";
		var userid = "{{ request.user.id }}";
	</script>

	<div id="root">
        {% render_bundle 'about' %}
    </div>

	<br><br><br><br><br><br>
	<div>
		<h1 class="aboutH1" align=center> About TigerTalk </h1>
		<p class="aboutText1" align=center> TigerTalk is a discussion platform exclusive to the Princeton University community. It has been created as a final project for <a href="https://www.cs.princeton.edu/courses/archive/spring18/cos333/">COS333: Advanced Programming Techniques</a> taught by Brian Kernighan in Spring 2018.</p>
		<p class="privacyText" align=center> TigerTalk is semi-anonymous: your posts and comments are recorded in our database with your netID, but this is stored securely and is never available to other users.
			 								 We will never access this information unless a user threatens violence, reveals sensitive information about other students, or otherwise violates University policies.
											 Feel free to reach out to a member of our team if you have any questions or concerns.</p>
		<p class="aboutText2" align=center> We encourage you to provide feedback and report bugs and issues via the feedback tab above. We are always looking to improve the user experience. </p>
		<p class="aboutText2" align=center> For more information about our project, please check out our design document, which can be found <a href="https://docs.google.com/document/d/1O8IU8MvJzNO1VNn3uFWB5d6HNoiGz2s87-BDtsRXxH0/edit?usp=sharing">here</a>.</p>
	</div>

	<h2 class="aboutH2" align=center> Our Team </h2>
	<div class="row">
		<div class="col-md-12">
			<div class="team" align="center">
				<span class="images"><img src="https://i.imgur.com/cCUaJxh.png" alt="Noah Moss" style="width: 100%"><p class="caption">Noah Moss (ngb@)<br>COS '19</p></span>
				<span class="images"><img src="https://i.imgur.com/oLeEndw.jpg" alt="Oğulcan Bayol" style="width: 100%"><p class="caption">Oğulcan Bayol (obayol@)<br>COS '18</p></span>
				<span class="images"><img src="https://i.imgur.com/byGVoIE.png" alt="Devina Singh" style="width: 100%"><p class="caption">Devina Singh (devinas@)<br>COS '19</p></span>
				<span class="images"><img src="https://i.imgur.com/fFDBPBc.jpg" alt="Ryan Gizzie" style="width: 100%"><p class="caption">Ryan Gizzie (rgizzie@)<br>ECO '19</p></span>
			</div>
		</div>
	</div>
	<div class="acknowledgements">
		<h3 class="aboutH3" align="center"> Acknowledgements </h3>
		<div class="name" align="center">Lance Goodridge</div>
		<div class="title" align="center">COS 333 Advisor</div>
		<div class="name" align="center">Professor Brian Kernighan</div>
		<div class="title" align="center">COS 333 Instructor</div>
	</div> 

</body>
</html>
