<!doctype HTML>
{% load render_bundle from webpack_loader %}
{% load static %}

<html>
<head>
    <title>TigerTalk</title>
    <link rel="icon" href="https://www.cs.princeton.edu/favicon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <script>
        var netid = "{{ user.get_username }}";
        var userid = "{{ request.user.id }}";
        var first_login = "{{ request.user.first_login }}"
    </script>

    <div id="root">
        {% render_bundle 'main' %}
    </div>

    <br/>

</body>
</html>
