.navbar-default {
    background-color: var(--nav-bg-color);
}
.navbar .nav > li > a {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:hover {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:visited {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:active {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:focus {
    color: var(--nav-text-color);
}

button.navbar-toggle {
    background-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top {
	padding-left: 10px;
	padding-right: 10px;
}

#root > div > nav > div > div.navbar-header > span {
  font-family: Quicksand;
  color: black;
}
/* toggle drop down menu on navbar when clicked */
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-toggle.collapsed {
  border-color: black;
}

div.btn-toolbar {
    font-family: Quicksand, serif;
}

button#post.btn.btn-default {
  font-family: Quicksand, serif;
}

#root > nav > div > div.navbar-header > span > a {
  color: black !important;
  font-family: Quicksand !important;
  cursor: pointer;
}

/* Search Bar: code adapted from https://codepen.io/912lab/pen/LsplC */

/* text input for search bar */
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

/* use round bar shape */
input[type=search] {
  background: #f19143 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

/* change color on hover and focus */
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/* Search icon and bar */
#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  height: 15px;

  margin: auto;
  border-color: #00000070;
}
#demo-2 input[type=search]:hover {
  background-color: #fff;
}
#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}

/* position search abr in left corner of navbar */
#root > div > nav > div > div.navbar-header > span {
  float: left;
  position: relative;
}


#root > div > nav > div > div.navbar-header > button {
  position: absolute;
  right: -0%;
}

/* position search bar to be in line with other navbar elements */
#demo-2 {
  position: relative;
  top: -28px;
  right: -90px;
  width: 100px;
}

/* padding around nav bar elements */
#root > div > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(1) > a {
  width: 60px;
}


#root > div > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(2) > a {
  width: 82px;
}

h1 {
	font-family: Quicksand;
	font-size: 800%;
	padding-top:90px;
	margin-left:auto;
	margin-right:auto;
}
h2 {
	font-family: Quicksand;
	font-size: 200%;
	padding-top:85px;
	margin-top: -90px;
	margin-left:auto;
	margin-right:auto;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 14px;
	height: 340px;
}