/* Document-wide style */
:root {
    --main-bg-color: #fefcfb;
    --post-bg-color: #e5e7e8;
    --post-hover-color: #d9dee0;
    --post-click-color: #d2d9dd;
    --comment-bg-color: #e5e7e8;
    --nav-bg-color: #F19143;
    --nav-text-color: black;
    --form-border: #676767;
}

body {background-color: black}

h1 {
	font-family: Quicksand;
	font-size: 300%;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
}

h2 {
	font-family: Quicksand;
	font-size: 300%;
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
}

h4 {
	font-family: Quicksand;
}

.aboutText1 {
	font-family: Quicksand;
	font-size: 100%;
	padding-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.aboutText2 {
	font-family: Quicksand;
	font-size: 100%;
	padding-top: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

.privacyText {
	font-family: Quicksand;
	font-size: 100%;
	padding-top: 15px;
	margin-left: 5%;
	margin-right: 5%;
}

.images {
	float: left;
	width: 25%;
	padding-right: 2%;
	padding-right: 2%;
}

.caption {
	padding-top: 5px;
	font-size: 120%;
	text-align: center;
	font-family: Quicksand;
}

img {
    border-radius: 50%;
}

div.team {
	padding-top: 20px;
    margin-left: 3%;
    margin-right: 1%;
}
