/* Document-wide style */
:root {
  --main-bg-color: #fefcfb;
  --post-bg-color: #e5e7e8;
  --post-hover-color: #d9dee0;
 --post-click-color: #d2dbe0;

  --comment-bg-color: #e5e7e8;
  --nav-bg-color: #f19143;
  --nav-text-color: black;
  --form-border: #676767;
}

body {
  background-color: var(--main-bg-color);
}

/*-------------------------------------------------*/

.navbar-default {
    background-color: var(--nav-bg-color);
}
.navbar .nav > li > a {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:hover {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:visited {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:active {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:focus {
    color: var(--nav-text-color);
}

button.navbar-toggle {
    background-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top {
	padding-left: 10px;
	padding-right: 10px;
}


/* toggle drop down menu on navbar when clicked */
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-toggle.collapsed {
  border-color: black;
}

div.btn-toolbar {
    font-family: Quicksand, serif;
}

button#post.btn.btn-default {
  font-family: Quicksand, serif;
}

/* Search Bar: code adapted from https://codepen.io/912lab/pen/LsplC */

/* text input for search bar */
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

/* use round bar shape */
input[type=search] {
  background: #f19143 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

/* change color on hover and focus */
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/* Search icon and bar */
#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  height: 15px;

  margin: auto;
  border-color: #00000070;
}
#demo-2 input[type=search]:hover {
  background-color: #fff;
}
#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}

/* position search abr in left corner of navbar */
#root > div > nav > div > div.navbar-header > span {
  float: left;
  position: relative;
  
}


#root > div > nav > div > div.navbar-header > button {
  position: absolute;
  right: -0%;
}


/* position search bar to be in line with other navbar elements */
#demo-2 {
  position: relative;
  top: -28px;
  right: -90px;
  width: 100px;
}

/* padding around nav bar elements */
#root > div > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(1) > a {
  width: 60px;
}


#root > div > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(2) > a {
  width: 82px;
}


#root > nav > div > div.navbar-header > span {
	color: black !important ;
	font-family: Quicksand !important;
}

.aboutH1 {
	font-family: Quicksand;
	font-size: 300%;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
}

.aboutH2 {
	font-family: Quicksand;
	font-size: 300%;
	padding-top:20px;
	padding-bottom: 0px;
	margin-left:auto;
	margin-right:auto;
}

.aboutH3 {
	font-family: Quicksand;
	font-size: 300%;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
}

.aboutText1 {
	font-family: Quicksand;
	font-size: 100%;
	padding-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.aboutText2 {
	font-family: Quicksand;
	font-size: 100%;
	padding-top: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

.privacyText {
	font-family: Quicksand;
	font-size: 100%;
	padding-top: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

.images {
	float: left;
	width: 25%;
	padding-right: 2%;
	padding-right: 2%;
}

.caption {
	padding-top: 5px;
	font-size: 120%;
	text-align: center;
	font-family: Quicksand;
}

img {
    border-radius: 50%;
}

div.team {
	padding-top: 25px;
	padding-bottom: 100px;
    margin-left: 3%;
    margin-right: 1%;
    /*word-wrap: break-word;*/
}

.name {
	font-family: Quicksand;
	font-size: 150%;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
}

.title {
	font-family: Quicksand;
	font-size: 125%;
	padding-top:-5px;
	margin-left:auto;
	margin-right:auto;
	color: var(--nav-bg-color);
}

body > div.acknowledgements {
    margin-bottom: 80px;
}

#root > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(1) > a {
	width: 60px !important;
}

#root > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(2) > a {
	width: 82px !important;
}

#root > nav > div > div.navbar-header > span > a {
  color: black !important;
  font-family: Quicksand !important;
}
