/* Document-wide style */
:root {
  --main-bg-color: #f3f3f3;
  --post-bg-color: #cfd8dc;
  --nav-bg-color: #323d49;
  --form-border: #676767;
}

body {
  background-color: var(--main-bg-color);
}

/*-------------------------------------------------*/

/* Navbar background and link colors */
.navbar-default {
    background-color: var(--nav-bg-color);
}
.navbar .nav > li > a {
    color: var(--main-bg-color);
}
.navbar .nav > li > a:hover {
    color: var(--main-bg-color);
}
.navbar .nav > li > a:visited {
    color: var(--main-bg-color);
}
.navbar .nav > li > a:active {
    color: var(--main-bg-color);
}
.navbar .nav > li > a:focus {
    color: var(--main-bg-color);
}

/* Main header (TigerTalk) */
h3 {
  margin-top: 150px;
  font-size: 36px;
  font-weight: 100px;
  font-family: Quicksand;
  text-align: center;
}

/* Sort bar -- TODO: redo with react-bootstrap buttons*/
#sortbar {
    text-align: center;
    margin: auto;
    padding: 5px;
    overflow: hidden;
}
#sortbar li {
  float: center;
  display: inline-block;
}
#sortbar li button {
  text-align: center;
  align-content: center;
  border:none;
  margin:8px;
  padding:5px;
  outline: none
}
#sortbar li button:hover {
  cursor:pointer;
}
button {
  position: relative;
  border-radius: 5px;
  background-color: var(--post-bg-color);
  font-family: Quicksand;
}
button:focus {
    outline: none;
}

/* Post form */
div.container-fluid {
    margin-bottom: 15px;
}
div.post-container {
    margin: auto;
    max-width: 768px;
    width: 90%;
}
textarea.form-control {
    margin: auto;
    resize: vertical;
    border: 0.1rem solid var(--form-border);
    background-color: var(--main-bg-color);
    min-height: 50px;
    border-radius: 5px;
    font-family: Quicksand;
    margin-bottom: 7px;
}

/* react-bootstrap buttons */
.btn {
    border-radius: 5px;
    background-color: var(--post-bg-color);
    float: right;
}

/* Post components */
div.post {
    font-family: Quicksand;
    background-color: var(--post-bg-color);
    border-right: 0.2rem solid var(--post-bg-color);
    border-left: 0.2rem solid var(--post-bg-color);
    border-top: 0.1rem solid var(--post-bg-color);
    border-bottom: 0.1rem solid var(--post-bg-color);
    margin: auto;
    margin-bottom: 10px;
    white-space: pre-wrap;
    max-width: 768px;
    width: 90%;
}
div.media {
    z-index: 1;
    overflow: visible;
    padding-bottom:5px;
    padding-top:5px;
}
#dropdown-size-small {
    z-index: 100;
    margin: auto;
    vertical-align: top;
    border-color: var(--post-bg-color);
    padding-top: 0px;
    padding-right: 12px;
}
.btn-group {
    padding-right: 5px;
}
.dropdown-menu {
    margin-right: 5px;
}

/* Comment components -- TODO: fix comment css */
.replyContainer {
  max-width: 768px;
  width: 90%;
  margin: auto;
}
.reply {
    padding-bottom:5px;
    padding-top:5px;
    font-family: Quicksand, serif;
    background-color: var(--post-bg-color);
    border-right: 0.2rem solid var(--post-bg-color);
    border-left: 0.2rem solid var(--post-bg-color);
    border-top: 0.1rem solid var(--post-bg-color);
    border-bottom: 0.1rem solid var(--post-bg-color);
    margin: auto;
    margin-bottom: 10px;
    float: right;
    white-space: pre-wrap;
    max-width: 768px;
    width: 93%;
}
.chunk{
  margin-bottom: 5px;
}
form.replying {
  padding-top: 3px;
  padding-left: 38px;
  margin-bottom: 3px;
  width: 80%;
  margin: auto;
}


.row {
  margin-left: 0px;
}
.comments {
  margin-top: 0px;
}
.commentblock {
    display: block;
}
.empty {
  background-color: var(--main-bg-color);

}

/*  loading icon -- from https://loading.io/ */
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-dual-ring {
  margin: auto;
  position: relative;
}
.lds-dual-ring div {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: var(--post-bg-color) transparent var(--post-bg-color) transparent;
  -webkit-animation: lds-dual-ring 1s linear infinite;
  animation: lds-dual-ring 1s linear infinite;
}
.lds-dual-ring {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/* Icons */
.caret {
  width: 10px;
  height: 10px;
  border: none;
  font-family: 'Glyphicons Halflings';
}
.caret:before {
  content:"\e234";
}

.arrowBox {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: auto;
}

.glyphicon-comment {
    color:#cfd8dc;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    margin-left: 4px;
    margin-top: 22px;
}