.navbar-default {
    background-color: #323d49;
}
.navbar .nav > li > a {
    color: silver;
}
.navbar .nav > li > a:hover {
    color: silver;
}
.navbar .nav > li > a:visited {
    color: silver;
}
.navbar .nav > li > a:active {
    color: silver;
}
.navbar .nav > li > a:focus {
    color: silver;
}

.col-xs-1-5 {
  width: 6%;
}

.col-xs-9-5 {
  width: 8%;
}
.contain {
  width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #cfd8dc;
  font-family: Quicksand, serif;
}

.wrap {
  width: 60%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Quicksand, serif;
}

div.post {
    padding-bottom:5px;
    padding-top:5px;
    font-family: Quicksand, serif;
    background-color: #cfd8dc;
    border-right: 0.2rem solid #cfd8dc;
    border-left: 0.2rem solid #cfd8dc;
    border-top: 0.1rem solid #cfd8dc;
    border-bottom: 0.1rem solid #cfd8dc;
    margin: auto;
    margin-bottom: 10px;
    white-space: pre-wrap;
    max-width: 768px;
    width: 90%;
}

div.media {
    z-index: 1;
    overflow: visible;
}
#dropdown-size-small {
    z-index: 100;
}

div.reply {

.replyContainer {
  max-width: 768px;
  width: 90%;
  margin: auto;

}

.reply {
      /* padding-left:70px;
    padding-right:70px; */
    padding-bottom:5px;
    padding-top:5px;
    font-family: Quicksand, serif;
    background-color: #cfd8dc;
    border-right: 0.2rem solid #cfd8dc;
    border-left: 0.2rem solid #cfd8dc;
    border-top: 0.1rem solid #cfd8dc;
    border-bottom: 0.1rem solid #cfd8dc;
    margin: auto;
    margin-bottom: 10px;
    float: right;
    white-space: pre-wrap;
    max-width: 728px;
    width: 93%;
}
.chunk{
  margin-bottom: 5px;
}


h3 {
  margin-top: 100px;
  /* margin-left: 534px; */
  font-size: 36px;
  font-weight: 100px;
  font-family: Quicksand;
  text-align: center;
}

textarea.form-control {
    resize: vertical;
    border: 0.1rem solid #676767;
    /* border-radius: 5px; */
    background-color: #f3f3f3;
    margin: auto;
    min-height: 50px;
    max-width: 768px;
}

.textarea {
    border: 0.1rem solid #676767;
    border-radius: 5px;
    background-color: #f3f3f3;
}

form.posting {
  /*margin-left: 180px;
  margin-right: 100px; */
  width: 90%;
  font-family: Quicksand;
}

form.replying {
  padding-top: 3px;
  padding-left: 38px;
  margin-bottom: 3px;
  width: 80%;
  margin: auto;
}

.btn { /*what is this can someone explain this to me? */
    position: relative;
    border-radius: 5px;
    background-color: #cfd8dc;
    transform: rotate(360deg);
}

button {
  position: relative;
  border-radius: 5px;
  background-color: #cfd8dc;
  font-family: Quicksand;
}


button:focus {
    outline: none;
}

body {
  background-color: #f3f3f3;
}

#sortbar {
  text-align: center;
  list-style-type: none;
  margin: auto;
  padding: 5px;
  overflow: hidden;
}

#sortbar li {
  float: center;
  display: inline-block;
}

#sortbar li button {
  text-align: center;
  align-content: center;
  border:none;
  margin:8px;
  padding:5px;
  outline: none
}

#sortbar li button:hover {
  cursor:pointer;
}

.row {
  margin-left: 0px;
}
.comments {
  margin-top: 0px;
}
.commentblock {
    display: block;
}

/*  loading icon -- from https://loading.io/ */
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-dual-ring {
  margin: auto;
  position: relative;
}
.lds-dual-ring div {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #cfd8dc transparent #cfd8dc transparent;
  -webkit-animation: lds-dual-ring 1s linear infinite;
  animation: lds-dual-ring 1s linear infinite;
}
.lds-dual-ring {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/* end loading icon */
.caret {
  width: 10px;
  height: 10px;
  border: none;
  font-family: 'Glyphicons Halflings';
}

.caret:before {
  content:"\e234";
}

.arrowBox {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: auto;
}

.col-md-20 {
  margin: auto;
}
