<!doctype HTML>
{% load render_bundle from webpack_loader %}
{% load static %}

<html>
<head>
	<title>TigerTalk</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
	<script>
		var netid = "{{ user.get_username }}";
		var userid = "{{ request.user.id }}";
	</script>

	<div id="root">
        {% render_bundle 'about' %}
    </div>

	<br><br><br><br><br><br>
	<div>
		<h1> About TigerTalk </h1>
		<p> TigerTalk has been created as a final project for <a href="https://www.cs.princeton.edu/courses/archive/spring18/cos333/">COS333: Advanced Programming Techniques</a> taught by Brian Kernighan in Spring 2018.</p>
		<p> </p>
		<p> We appreciate feedback about anything. Please let us know if there is anything you think we can improve. </p>
		<p> The design document for our project can be found <a href="https://docs.google.com/document/d/1O8IU8MvJzNO1VNn3uFWB5d6HNoiGz2s87-BDtsRXxH0/edit?usp=sharing">here</a>.</p>
	</div>

	<h1> The Team </h1>
		<div class="team">
		<div class="teammate"><figure><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/21271204_1891869334163369_7741204062448980520_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeFZqkBSPxwYgdH3w8TWt5PRTeltgtFyUdgx8ktPBtfPn9a123cdIFfkxlmEOufjevS1Ptg3qKbyege2WPxpVvFRhpphV20RJnLqTLfgbOi_yw&oh=114a505d93fc3387971d00d96edff953&oe=5B8C63A9" alt="Noah Moss" height="300" width="230"></figure><h4>Noah Moss</h4><div class="team-mate-subtitle"></div><div class="team-mate-description"></div></div>
		<div class="teammate"><figure><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/14707966_10209895528601985_3290469482507911436_o.jpg?_nc_cat=0&_nc_eui2=v1%3AAeEeUB7hYDny8T_A8C4kVZoOcxquCwxLa9_2T5bkWFozcKu6mU_tq0nYlXTPboJKXA3_mAyWoWiLBbl3DEqppQhdSVMjnoPoxgzYn_1r_ch2xg&oh=8b995398ec4b8f22e5ad04010f8fb1cc&oe=5B90DA0A" alt="Oğulcan Bayol" height="300" width="230"></figure><h4>Oğulcan Bayol</h4><div class="team-mate-subtitle"></div><div class="team-mate-description"></div></div>
		<div class="teammate"><figure><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/29983378_1884686244908773_1183552321728822649_o.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHoLBvvLOaUrPnNdRlNeUY5pCa3u1khFOuMTa5s4Ory1kIXNfkJ3z9oKW5p1j6_9ZtEuApgkLMoi70p0PkC95WIAyG7_VokTjDeATBbPx-1bg&oh=6b4c83d8f12ae1b10d67cc900cd7fe25&oe=5B5FD314" alt="Devina Singh" height="300" width="230"></figure><h4>Devina Singh</h4><div class="team-mate-subtitle"></div><div class="team-mate-description"></div></div>
		<div class="teammate"><figure><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-1/p320x320/13151939_600877813393724_1868290296265273601_n.jpg?_nc_cat=0&oh=455a235d8471c0557787d474f07d64e3&oe=5B502091" alt="Ryan Gizzie" height="300" width="230"></figure><h4>Ryan Gizzie</h4><div class="team-mate-subtitle"></div><div class="team-mate-description"></div></div>
	</div>
</body>
</html>
