body {background-color: red}
h1 {
	font-family: Quicksand;
	font-size: 800%;
	padding-top:70px;
	margin-left:auto;
	margin-right:auto;
}
h2 {
	font-family: Quicksand;
	font-size: 200%;
	margin-top: -90px;
	margin-left:auto;
	margin-right:auto;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
}