/* Document-wide style */
:root {
  --main-bg-color: #fefcfb;
  --post-bg-color: #e5e7e8;
  --post-hover-color: #d9dee0;
 --post-click-color: #d2dbe0;

  --comment-bg-color: #e5e7e8;
  --nav-bg-color: #f19143;
  --nav-text-color: black;
  --form-border: #676767;
}

body {
  background-color: var(--main-bg-color);
}

/*-------------------------------------------------*/

/* Navbar background and link colors */
.navbar-default {
    background-color: var(--nav-bg-color);
}
.navbar .nav > li > a {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:hover {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:visited {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:active {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:focus {
    color: var(--nav-text-color);
}

button.navbar-toggle {
    background-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top {
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-toggle.collapsed {
  border-color: black;
} 

#root > nav > div > div.navbar-header > span {
	color:black;
	font-family: Quicksand;
}

#root > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(1) > a {
	width: 60px;
}

#root > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(2) {
	width: 82px;
}

#root > nav > div > div.navbar-collapse.collapse > ul {
	position: relative;
    left: -10px;
}

.aboutH1 {
	font-family: Quicksand;
	font-size: 300%;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
}

.aboutH2 {
	font-family: Quicksand;
	font-size: 300%;
	padding-top:20px;
	padding-bottom: 0px;
	margin-left:auto;
	margin-right:auto;
}

.aboutH3 {
	font-family: Quicksand;
	font-size: 300%;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
}

.aboutText1 {
	font-family: Quicksand;
	font-size: 100%;
	padding-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.aboutText2 {
	font-family: Quicksand;
	font-size: 100%;
	padding-top: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

.privacyText {
	font-family: Quicksand;
	font-size: 100%;
	padding-top: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

.images {
	float: left;
	width: 25%;
	padding-right: 2%;
	padding-right: 2%;
}

.caption {
	padding-top: 5px;
	font-size: 120%;
	text-align: center;
	font-family: Quicksand;
}

img {
    border-radius: 50%;
}

div.team {
	padding-top: 25px;
	padding-bottom: 100px;
    margin-left: 3%;
    margin-right: 1%;
    /*word-wrap: break-word;*/
}

.name {
	font-family: Quicksand;
	font-size: 150%;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
}

.title {
	font-family: Quicksand;
	font-size: 125%;
	padding-top:-5px;
	margin-left:auto;
	margin-right:auto;
	color: var(--nav-bg-color);
}
