h3 {
  margin-top: 100px;
  /* margin-left: 534px; */
  font-size: 36px;
  font-weight: 100px;
  font-family: Quicksand;
  text-align: center;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;

}

.col-1 {
  font-family: Quicksand;
  margin-right: 5px;
}
.row {
  margin-left: 470px;
}
.comments {
  margin-top: 3px;
}
.commentblock {
    display: none;
}
