/* Document-wide style */
:root {

  /* Main colors used through webapp */
  --main-bg-color: #fefcfb;
  --post-bg-color: #e5e7e8;
  --post-hover-color: #d9dee0;
  --post-click-color: #d2dbe0;
  --comment-bg-color: #e5e7e8;
  --nav-bg-color: #f19143;
  --nav-text-color: black;
  --form-border: #676767;
}

body {
  background-color: var(--main-bg-color);
}

/*-------------------------------------------------*/

/* Navbar background and link colors */
.navbar-default {
    background-color: var(--nav-bg-color);
}
.navbar .nav > li > a {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:hover {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:visited {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:active {
    color: var(--nav-text-color);
}
.navbar .nav > li > a:focus {
    color: var(--nav-text-color);
}

button.navbar-toggle {
    background-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top {
	padding-left: 10px;
	padding-right: 10px;
}

#root > div > nav > div > div.navbar-header > span {
  font-family: Quicksand;
  color: black;
}
/* toggle drop down menu on navbar when clicked */
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-toggle.collapsed {
  border-color: black;
}

div.btn-toolbar {
    font-family: Quicksand, serif;
}

button#post.btn.btn-default {
  font-family: Quicksand, serif;
}

/* Search Bar: code adapted from https://codepen.io/912lab/pen/LsplC */

/* text input for search bar */
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

/* use round bar shape */
input[type=search] {
  background: #f19143 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

/* change color on hover and focus */
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/* Search icon and bar */
#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  height: 15px;

  margin: auto;
  border-color: #00000070;
}
#demo-2 input[type=search]:hover {
  background-color: #fff;
}
#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}

/* position search abr in left corner of navbar */
#root > div > nav > div > div.navbar-header > span {
  float: left;
  position: relative;
}


#root > div > nav > div > div.navbar-header > button {
  position: absolute;
  right: -0%;
}

/* position search bar to be in line with other navbar elements */
#demo-2 {
  position: relative;
  top: -28px;
  right: -90px;
  width: 100px;
}

/* padding around nav bar elements */
#root > div > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(1) > a {
  width: 60px;
}


#root > div > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(2) > a {
  width: 82px;
}

#root > div > nav > div > div.navbar-header > span > a {
  color: black !important;
  font-family: Quicksand !important;
  cursor: pointer !important;
}
/* Main header (TigerTalk) */
h3 {
  margin-top: 150px;
  font-size: 36px;
  font-weight: 100px;
  font-family: Quicksand;
  text-align: center;
}

/* Sort bar */
div.sortbar {
    display: flex;
    justify-content: center;
    padding: 15px;
    overflow: hidden;
    margin: auto;
    width: 200px;
    right: -2px;
    position: relative;
}
.sort-button {
  text-align: center;
  align-content: center;
  border:none;
  outline: none
}

div.btn-toolbar {
    width: 150px;
    float: right;
    position: relative;
}

/* Post form */
div.container-fluid {
    padding-left: 0px;
    padding-right: 0px;

}
div.post-container {
    margin: auto;
    max-width: 768px;
    width: 90%;

}
/* change post color on hover */
div.post:hover {
    background-color: var(--post-hover-color);
    border-color: var(--post-hover-color);
}

div.post:hover .dateString.media-right{
  background-color: var(--post-hover-color);
}

div.post:hover .glyphicon.glyphicon-comment{
  color: var(--post-hover-color);
}

div.post:hover #dropdown-size-small{
  background-color: var(--post-hover-color);
}

#dropdown-size-small:hover{
  background-color: var(--post-bg-color);
  border-color: transparent;
}
/* post content */
textarea.form-control {
    margin: auto;
    resize: vertical;
    border: 0.1rem solid var(--form-border);
    background-color: var(--main-bg-color);
    min-height: 50px;
    border-radius: 5px;
    font-family: Quicksand;
    margin-bottom: 5px;
}

textarea#maintext.posting.form-control {
  cursor: text;
}

div.wrapText.media-body {
  cursor: pointer;
}

div.rip.media {
  cursor: pointer;
  margin-top: 0px;
  padding-top: 0px;
}

/* react-bootstrap buttons */
.btn {
    border-radius: 5px;
    border-color: var(--post-bg-color);
    background-color: var(--post-bg-color);
    float: right;
}
/* change position of comment bubble */
div.mb.media-body{
   z-index: 3;
   width: 9000px
}

div.mb2.media-body{
  z-index: 4;
  width: 10500px
}
/* comment number */
div.commentNum.media-left{
    position: relative;
    top: -3.6px;
    margin-bottom: 0px;
}

/* timestamp */
div.dateString.media-right{
    position: relative;
    top: -3.6px;
    margin-bottom: 0px;
    width:6000px;
    text-align: right;
    position: relative;
    right: 10px;
    padding-top:10px;
}

div.postDateString.media-right{
    position: relative;
    top: -3.6px;
    margin-bottom: 0px;
    width:10000px;
    text-align: right;
    position: relative;
    right: 10px;
    padding-top:10px;
}

/* Post components */
div.post {
    font-family: Quicksand;
    background-color: var(--post-bg-color);
    border-right: 0.2rem solid var(--post-bg-color);
    border-left: 0.2rem solid var(--post-bg-color);
    border-top: 0.1rem solid var(--post-bg-color);
    border-bottom: 0.1rem solid var(--post-bg-color);
    margin: auto;
    margin-top: 10px;
    white-space: pre-wrap;
    max-width: 768px;
    width: 90%;

}
div.mainBody {
    z-index: 1;
    overflow: visible;
    padding-top:5px;
}

/* drop down menu for copy link/report/delete */
div.bottom.media-body {
    padding-top: 10px;
}

.postDropdown {
    background-color: var(--post-bg-color);
}
.commentDropdown {
    background-color: var(--comment-bg-color);
}

div.deletedText {
    padding-top: 8px;
    padding-bottom: 15px;
    margin-left: 35px;
}


/* Posts - different colors when clicked*/
div.post2.container-fluid {
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
div.post2.post-container {
    margin: auto;
    max-width: 768px;
    width: 90%;

}

textarea.post2.form-control {
    margin: auto;
    resize: vertical;
    border: 0.1rem solid var(--form-border);
    background-color: var(--main-bg-color);
    min-height: 50px;
    border-radius: 5px;
    font-family: Quicksand;
    margin-bottom: 5px;
    cursor: pointer;
}

div.post2.wrapText.media-body {
  cursor: pointer;
}

div.post2.rip.media {
  cursor: pointer;
}

/* background color of post components changed */
div.post2.btn {
    border-radius: 5px;
    background-color: var(--post-click-color);
    float: right;
}

div.post2.mb.media-body{
   z-index: 3;
   width: 9000px
}

div.post2.mb2.media-body{
  z-index: 4;
  width: 10500px
}

div.post2 .glyphicon.glyphicon-comment {
  color: var(--post-click-color);
}

div.post2 #dropdown-size-small{
  background-color: var(--post-click-color);
}

div.post2 .dateString.media-right {
  background-color: var(--post-click-color);
}

div.post2.commentNum.media-left{
    position: relative;
    top: -3.6px;
    margin-bottom: 0px;
}
div.post2.dateString.media-right{
    position: relative;
    top: -3.6px;
    margin-bottom: 0px;
    width:6000px;
    text-align: right;
    position: relative;
    right: 10px;
    background-color: var(--post-click-color);
}

div.post2.commentdatestring.media-right{
    position: relative;
    top: -3.6px;
    margin-bottom: 0px;
    width:10000px;
    text-align: right;
    position: relative;
    right: 10px;
}

/* Post components */
div.post2 {
    font-family: Quicksand;
    background-color: var(--post-click-color);
    border-right: 0.2rem solid var(--post-bg-color);
    border-left: 0.2rem solid var(--post-bg-color);
    border-top: 0.1rem solid var(--post-bg-color);
    border-bottom: 0.1rem solid var(--post-bg-color);
    margin: auto;
    margin-top: 10px;
    white-space: pre-wrap;
    max-width: 768px;
    width: 90%;
    border-color: var(--post-click-color);

}
div.post2.mainBody {
    z-index: 1;
    overflow: visible;
    padding-top:5px;
}

/* post 3 (for individual post pages) */
/* Post form */
div.post3.container-fluid {
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
div.post3.post-container {
    margin: auto;
    max-width: 768px;
    width: 90%;
}

div.post3.wrapText.media-body {
  cursor: default;
}

div.post3.rip.media {
  cursor: default;
}

/* react-bootstrap buttons */
div.post3.btn {
    border-radius: 5px;

    background-color: var(--post-bg-color);
    float: right;
}

div.post3.mb.media-body{
   z-index: 3;
   width: 9000px
}

div.post3.mb2.media-body{
  z-index: 4;
  width: 10500px
}

div.post3 .glyphicon.glyphicon-comment {
  color: var(--post-bg-color);
}

div.post3 #dropdown-size-small{
  background-color: var(--post-bg-color);
  border-color: var(--post-bg-color);
}

div.post3 .dateString.media-right {
  background-color: var(--post-bg-color);
}

div.post3.commentNum.media-left{
    position: relative;
    top: -3.6px;
    margin-bottom: 0px;
}
div.post3.dateString.media-right{
    position: relative;
    top: -3.6px;
    margin-bottom: 0px;
    width:6000px;
    text-align: right;
    position: relative;
    right: 10px;
    background-color: var(--post-bg-color);
}

div.post3.commentdatestring.media-right{
    position: relative;
    top: -3.6px;
    margin-bottom: 0px;
    width:10000px;
    text-align: right;
    position: relative;
    right: 10px;
}

/* Post components */
div.post3 {
    font-family: Quicksand;
    background-color: var(--post-bg-color);
    border-right: 0.2rem solid var(--post-bg-color);
    border-left: 0.2rem solid var(--post-bg-color);
    border-top: 0.1rem solid var(--post-bg-color);
    border-bottom: 0.1rem solid var(--post-bg-color);
    margin: auto;
    margin-top: 10px;
    white-space: pre-wrap;
    max-width: 768px;
    width: 90%;
    border-color: var(--post-bg-color);

}
div.post3.mainBody {
    z-index: 1;
    overflow: visible;
    padding-top:5px;
}


div.postDateString > a {
    color: black;
}

#dropdown-size-small {
    background-color: var(--post-bg-color);
    z-index: 100;
    margin: auto;
    vertical-align: top;
    border-color: transparent;
    padding-top: 0px;
    padding-right: 12px;
    margin-right: 4px;
}
ul.dropdown-menu.dropdown-menu-right {
    margin-right: 4px;
}
/* No posts at bottom of infinite scroll */
div.no-more-posts {
    font-family: Quicksand;
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
div.search-results-count {
    font-family: Quicksand;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
div.no-post {
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
}

/* comment reply box */
.replyContainer {
  max-width: 768px;
  width: 90%;
  margin: auto;
  background-color: var(--main-bg-color);
}

.commentMedia{
    padding-top: 5px;
}

/* comments */
.reply {
    padding-top:5px;
    font-family: Quicksand, serif;
    margin: auto;
    margin-bottom: 0px;
    float: right;
    white-space: pre-wrap;
    max-width: 768px;
}
/* comment icons */
.replyIconLine {
    font-family: Quicksand, serif;
    margin: auto;
    margin-bottom: 0px;
    white-space: pre-wrap;
    max-width: 768px;
    width: 100%;
    background-color: var(--comment-bg-color);;
}

.media {
    overflow: visible;
}

.chunk{
  margin-bottom: 5px;
}

.replyBody {
  padding-top: 5px;
}
/* padding comments */
#commentContainer {
  max-width: 150px;
  padding-left: 46px;
}

.row {
  margin-left: 0px;
}
.comments {
  margin-top: 0px;
}
.commentblock {
    display: block;
}
.empty {
  background-color: var(--main-bg-color);

}

/*  loading icon -- from https://loading.io/ */
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* spinner icon */
.lds-dual-ring {
  margin: auto;
  position: relative;
}
.lds-dual-ring div {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 20px;
  left: 50px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: var(--post-bg-color) transparent var(--post-bg-color) transparent;
  -webkit-animation: lds-dual-ring 1s linear infinite;
  animation: lds-dual-ring 1s linear infinite;
}
.lds-dual-ring {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/* mini loding icon */
@keyframes lds-dual-ring2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-dual-ring2 {
  margin: auto;
  position: relative;
}
.lds-dual-ring2 div {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 20px;
  left: 70px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #cfd8dc transparent #cfd8dc transparent;
  -webkit-animation: lds-dual-ring 0.7s linear infinite;
  animation: lds-dual-ring 0.7s linear infinite;
}
.lds-dual-ring2 {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/* Icons */
/* set the icon for drop down menu to "..." */
.caret {
  width: 10px;
  height: 10px;
  border: none;
  font-family: 'Glyphicons Halflings';
}
.caret:before {
  content:"\e234";
}

/* allign drop down menu */
.arrowBox {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: auto;
}

/* position post icons to bottom left */
.iconFirstColumn {
  padding-left: 17px;
  padding-right: 17px;
  text-align: center;
  margin: auto;
}

/* comment bubble icon */
.glyphicon-comment {
    color: var(--post-bg-color);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-left: 4px;
    top: -1px;
    margin-bottom: 0px;
}

/* send bubble icon */
.glyphicon-send {
    color:#cfd8dc;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-left: 4px;
    top: -1px;
    margin-bottom: 0px;
    cursor: pointer;
}

/* More comment padding */
#commentContainer {
  max-width: 768px;
  width: 90%;
  margin: auto;
}
.replying {
    padding-bottom:5px;
    padding-top:5px;
    float: right;
    white-space: pre-wrap;
}
.rip {
  margin-top: 7px;
}

/* Upvote icon */
.Chevron_up_clicked  glyphicon-chevron-up {
  color: #0000FF;

}

.glyphicon-chevron-up {
  cursor: pointer;
}

/* downvote icon */
.glyphicon-chevron-down {
  cursor: pointer;
}

/* refresh icon */
.glyphicon-refresh {
  font-size: 1.7em;
  color: #AAB3B7;
  z-index: 1000;
  cursor: pointer;
  margin: auto;
}

/* see more option to wrap posts */
span.seemore {
    cursor:pointer;
    color: #787878;
}

/* comment and post padding */
.replyOffset {
  padding-right: 23px;
  padding-left: 23px;
}

.commentBody {
    font-family: Quicksand, serif;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--comment-bg-color);
}

.commentStamp {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--comment-bg-color);
    border: solid;
}

.replyContainer {
  padding-left: 46px;
  margin: auto;
  background-color: var(--main-bg-color);
  word-wrap:break-word;
}

/* wrap text around a space */
.wrapText {
    white-space: pre-wrap;
    word-break:break-word;
}

.wrapTextComment {
    white-space: pre-wrap;
    word-break:break-word;
}

.replyBody {
  background-color: var(--comment-bg-color);
  font-family: Quicksand, serif;
}

.replyContainer {
  margin-top: 5px;
}
