/* Document-wide style */
:root {
    --main-bg-color: #fefcfb;
    --post-bg-color: #e5e7e8;
    --post-hover-color: #d9dee0;
    --post-click-color: #d2d9dd;
    --comment-bg-color: #e5e7e8;
    --nav-bg-color: #F19143;
    --nav-text-color: black;
    --form-border: #676767;
}

.mainSection {
	background-image: url("https://i.imgur.com/rizBiR1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
	width: 100vw;
}

h1 {
	padding-top: 250px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
	font-family: Quicksand;
	font-size: 500%;
	color: white;
}

h2 {
    margin-top: 0px;
	padding-top: 30px;
	font-size: 300%;
	font-family: Quicksand;
}

h3 {
    margin-top: 0px;
	font-size: 120%;
	font-family: Quicksand;
}

.aboutSection {
	background-color: var(--main-bg-color);
	height: 40vw;
}

.aboutText {
	font-family: Quicksand;
	font-size: 150%;
	padding-bottom: 0px;
	margin-left: 10%;
	margin-right: 10%;
}

.login {
    font-family: Quicksand;
    margin: auto;
	padding-top: 20px;
}

.signature {
	background-color: var(--nav-bg-color);
	font-family: Quicksand;
	height: 10vh;
	position: fixed;
	bottom: 0;
	/*margin-bottom: 0px;*/
}

.madeBy {
    padding-top: 10px;
	font-size: 160%;
	font-family: Quicksand;
}

.signatureText {
	font-size: 110%;
}
